
<nav>
    <a href="/">Home</a>
    <a href="/auth//logout">Logout</a>
    <a href="/myDives">Back</a>
    <a href='/updateDive/{{dive.id}}'>Update Dive</a> 
</nav>
<hr>
    <h2>My Dive</h2>
    <h3>{{dive.namePlace}}</h3>
    <div class="flex-container">
        <div><img src="{{dive.picPath}}" alt="image"/></div>
        <div>
            <h6>{{dive.description}}</h6>
          <h6>Depth: {{dive.depthMeters}} meters</h6>
          <h6>Temperature: {{dive.temperature}} Celsius</h6>
          <h6>Date: {{dive.dateDive}}</h6>
          <h6>Time: {{dive.timeDiveMin}}</h6>
          <h6>Valuations: {{dive.valuations}}</h6>
          <h6>Longitude: {{dive.lng}}</h6>
          <h6>Latitude: {{dive.lat}}</h6>
        </div>
    

        <div id="map"></div>
    </div>
<script src='https://maps.googleapis.com/maps/api/js?key='{{keyG}}></script>
  
<script>
   function startMap(lat,lng){
     
    const mapcenter = {
  	  lat: lat,
  	  lng: lng
    };
    const map = new google.maps.Map(
      document.getElementById('map'),
    {
      zoom: 30,
      center: mapcenter
    }
    );
    const myMarker = new google.maps.Marker({
    position: mapcenter,
    map: map,
    title: "Dive"
    
    })
}
startMap({{dive.lat}},{{dive.lng}});
</script>

