
{{> navigation}}
<hr>

<a href="/myDives">Back</a>
<a href='/addComment/{{dive.id}}'>Add ffffComment</a>
    
    <h2>{{dive.namePlace}}</h2>
    <div class="flex-container">
        
        <div>
          <h6>Description: {{dive.description}}</h6>
          <h6>Depth: {{dive.depthMeters}} meters</h6>
          <h6>Temperature: {{dive.temperature}} Celsius</h6>
          <h6>Date: {{dive.dateDive}}</h6>
          <h6>Time: {{dive.timeDiveMin}}</h6>
          <h6>Valuations: {{dive.valuations}}</h6>
          <h6>Longitude: {{dive.lng}}</h6>
          <h6>Latitude: {{dive.lat}}</h6>
          
        </div>

        <div>
            <img src="{{dive.picPath}}" alt="image">
        </div>
        <div>
            {{#if comment}} <h6>Comments</h6> {{/if}}
            {{#each comment}}
                <h6>User: {{this.creatorId.username}}</h6>
                <h6>Valuation: {{this.valuation}}</h6>
                <h6>Description: {{this.description}}</h6>
            {{/each}}
        </div>
    </div>
    <div class="mapCont">
        <div id="map"></div>
    </div>


<script src='https://maps.googleapis.com/maps/api/js?key='{{keyG}}></script>
  
<script>
   function startMap(lat,lng){
     
    const mapcenter = {
  	  lat: lat,
  	  lng: lng
    };
    const map = new google.maps.Map(
      document.getElementById('map'),
    {
      zoom: 7,
      center: mapcenter
    }
    );
    const myMarker = new google.maps.Marker({
    position: mapcenter,
    map: map,
    title: "Dive"
    
    })
}
startMap({{dive.lat}},{{dive.lng}});
</script>
