
<nav>
    <a href="/auth//logout">Logout</a>
    <a href="/myDives">MyDives</a>
    <a href="/">Back</a>
</nav>
<hr>
    <h2>{{dive.namePlace}}</h2>
    <div class="flex-container">
        <div><img src="{{dive.picPath}}" alt="image"></div>
        <div>
          <p>{{dive.description}}</p>
          <p>Depth: {{dive.depthMeters}}</p>
          <p>Date: {{dive.dateDive}}</p>
          <p>Time: {{dive.timeDiveMin}}</p>
          <p>Valuations: {{dive.valuations}}</p>
          <p>Longitude: {{dive.lng}}</p>
          <p>Latitude: {{dive.lat}}</p>
        </div>
        <div id="map"></div>
    </div>
    



<script src='https://maps.googleapis.com/maps/api/js?key='{{keyG}}></script>
  
<script>
   function startMap(lat,lng){
     
    const mapcenter = {
  	  lat: lat,
  	  lng: lng
    };
    const map = new google.maps.Map(
      document.getElementById('map'),
    {
      zoom: 7,
      center: mapcenter
    }
    );
    const myMarker = new google.maps.Marker({
    position: mapcenter,
    map: map,
    title: "Dive"
    
    })
}
startMap({{dive.lat}},{{dive.lng}});
</script>

